body {
  font-family'Rampart One', cursive;;
  background-color:black;
	background-image:url('surface_texture_relief_129862_1920x1200.jpg');
	color: white;
  display:center;
       font-size: 35px;
  
  
  
}
  
