body {
  font-family'Rampart One', cursive;;
  background-color:LightBlue;
	background-image:url('depositphotos_112587186-stock-photo-viking-wood-carving-of-a.jpg');
	color: black;
  display:center;
       font-size: 35px;
  
  
  
}
  
